<ion-header>
  <ion-navbar>
    <ion-title>Editar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="guardarDatos()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input placeholder="Escriba el nombre" formControlName="nombre" type="text"></ion-input>
      </ion-item>
          <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
            <p *ngIf="myForm.get('nombre').hasError('required')">Campo Requerido</p>
          </ion-item>

      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input placeholder="Escriba los apellidos" formControlName="apellidos" type="text"></ion-input>
      </ion-item>
          <ion-item *ngIf="myForm.get('apellidos').errors && myForm.get('apellidos').dirty">
            <p *ngIf="myForm.get('apellidos').hasError('required')">Campo Requerido</p>
          </ion-item>

      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input placeholder="Escriba la edad" formControlName="edad" type="text"></ion-input>
      </ion-item>
          <ion-item *ngIf="myForm.get('edad').errors && myForm.get('edad').dirty">
            <p *ngIf="myForm.get('edad').hasError('required')">Campo Requerido</p>
          </ion-item>

      <ion-item>
        <ion-label>Telefono</ion-label>
        <ion-input placeholder="Escriba el telefono" formControlName="telefono" type="number"></ion-input>
      </ion-item>
          <ion-item *ngIf="myForm.get('telefono').errors && myForm.get('telefono').dirty">
            <p *ngIf="myForm.get('telefono').hasError('required')">Campo Requerido</p>
            <p *ngIf="myForm.get('company').hasError('minlength')">Minimo 9 Caracteres</p>
            <p *ngIf="myForm.get('company').hasError('maxlength')">Maximo 9 Caracteres</p>
          </ion-item>

      <ion-item>
        <ion-label>Movil</ion-label>
        <ion-input placeholder="Escriba el Movil" formControlName="movil" type="number"></ion-input>
      </ion-item>
          <ion-item *ngIf="myForm.get('movil').errors && myForm.get('movil').dirty">
            <p *ngIf="myForm.get('movil').hasError('required')">Campo Requerido</p>
            <p *ngIf="myForm.get('company').hasError('minlength')">Minimo 9 Caracteres</p>
            <p *ngIf="myForm.get('company').hasError('maxlength')">Maximo 9 Caracteres</p>
          </ion-item>
    </ion-list>

    <div padding>
      <button ion-button block type="submit" [disabled]="myForm.invalid">Guardar</button>
    </div>
  </form>
</ion-content>
